<?xml version="1.0"?>
<model>
    <name>HumanExoskeletonSDFModel</name>
    
    <version>1.0</version>
    <sdf>HumanExoskeletonSDFModel.sdf</sdf>
    
    <author>
        <name>Maria Lazzaroni</name>
        <email>maria.lazzaroni@iit.it</email>
    </author>
    
    <description>
        Model for a simple three link exoskeleton model.
    </description>
</model>
